# Virtual Environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Data files
data/uploads/*
data/processed/*
!data/uploads/.gitkeep
!data/processed/.gitkeep

# IDE
.vscode/
.idea/